  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>New Course</h4>



    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" ng-model="course.title">
          <label for="first_name">Course Title</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="course.number">
          <label for="last_name">Course ID</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="text" class="validate" ng-model="course.professor">
          <label for="password">Professor</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="" type="text" class="validate" ng-model="course.description">
          <label for="email">Description</label>
        </div>
      </div>
    </form>
  </div>



    </div>
    <div class="modal-footer">
      <a ng-click="createCourse()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      <a href="#!/profile/(( user_token ))" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>
</div>