
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>New Assignment</h4>



    <form class="col s12">


      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" ng-model="assignment.title">
          <label for="first_name">Assignment Title</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="assignemtn.description">
          <label for="last_name">Assignment Description</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input id="points_possible" type="number" class="validate" ng-model="assignment.points_possible">
          <label for="points_possible">Points Possible</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate" ng-model="course.description">
          <label for="email">Points Received (optional)</label>
        </div>
      </div>

<!--       <div class="row">
        <div class="input-field col s12">
          <select id="semester_dropdown" ng-model="course.semester" >
            <option value="" disabled selected>Choose a Course</option>
            <option  ng-repeat="semester in semesters" value="(( semester.id ))">(( semester.season )) (( semester.year ))</option>
          </select>
          <label for="semester_dropdown">Semester</label>
        </div>
      </div> -->


    </form>

</div>


    <div class="modal-footer">
          <a ng-click="createAssignment()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>

</div>
