<div class="container center">
    <h1 class="lead" >MyGrades</h1>
    <h3 class="flow-text">Please login or register an account!</h3>
    <button ng-click="quickLogin()">QUICK</button>
</div>

<br>

<div class="container center">
    <div class="row">
        <div class="col s6 section left" ng-show="!is_new_user">
            <h4>Login</h4>
            <div ng-show="invalid_login"><h5 class="flow-text">Uh Oh! Please enter a valid username and password.</h5></div>
            <div class="row"><input class="input-field col s12" type='text' ng-model="user.username" placeholder="Username"></div>
            <div class="row"><input class="input-field col s12" type='password' ng-model="user.password" placeholder="password"></div>
            <br>
            <div>
                <button class="btn waves-effect waves-light center-align" type='submit' ng-click='login()' ng-show="!is_new_user">Login</button>
                <br>
                <br>
                <a class="teal-text lighten-2" href="" type='submit' ng-click='is_new_user = true' ng-show="!is_new_user">or Sign Up</a>
            </div>
        </div>
        <div class="col s6 section right" ng-show="is_new_user">
            <h4>Or Register</h4>
            <div class="row"><input class="input-field col s12" type='text' ng-model="new_user.username" placeholder="Username"></div>
            <div class="row"><input class="input-field col s12" type='password' ng-model="new_user.password" placeholder="Password"></div>
            <div class="row">
                <!-- <div class="input-field col s12"> -->
                    <input id="first_name" class="input-field col s6" type="text" ng-model="new_user.first_name" placeholder="First Name">
                    <input id="last_name" class="input-field col s6" type="text" ng-model="new_user.last_name" placeholder="Last Name">
                <!-- </div> -->
            </div>

            <button class="btn waves-effect waves-light center-align" type='submit' ng-click='register()'>Register</button>
            <br>
            <br>
            <a class="teal-text lighten-2" href="" type='submit' ng-click='is_new_user = false'>or Login</a>

        </div>
    </div>
</div>
