
<div class="container center" ng-show="!is_loading">
    <h2 class="lead">Profile</h2>
    <h3 class="lead" >(( student.first_name )) (( student.last_name ))</h3>
</div>

<div class="loader" ng-show="is_loading">
<div class="container center-align" >
    <div class="preloader-wrapper big active " >
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
</div>


<div ng-show="!is_loading">

   <div class="container center">
       <a class='dropdown-button btn ' data-beloworigin="true"  data-activates='dropdown6' ng-show="!no_courses">Filter By Semester</a>
       <ul id='dropdown6' class='dropdown-content' >
           <li ng-repeat="semester in semesters" style="text-align: center" value="(( semester.id ))" ng-click="setSemesterFilter(semester)"><a>(( semester.season )) (( semester.year ))</a></li>
       </ul>
   </div>

    <div class="container " ng-show="!no_courses">
        <ul class="collapsible" data-collapsible="expandable" >
            <li  ng-repeat='course in courses | filter: { semester: semester_filter }'>

                <div class="collapsible-header flow-text hoverable">

                        <i class="material-icons col s1">filter_drama</i>
                        <span class="left col truncate col s4">(( course.title )) <span class="small">( ((course.course_number)) )</span></span>
                        <span ng-if="(( course.current_grade )) != 0" class="flow-text right">(( course.current_grade ))%</span>
                        <span ng-if="(( course.current_grade )) == 0" class="flow-text right">No Grades Yet!</span>

                </div>

                <div class="collapsible-body row course-accordion valign-wrapper">
                    <span class="flow-text col s3 course-description" style="margin-left: 20px">(( course.description ))</span>
                    <span class="flow-text col s2 ">(( course.semester.season )) (( course.semester.year ))</span>
                    <span class="flow-text col s3 truncate">(( course.professor ))</span>
                    <span class="col s2 right"><a class="btn btn-sm waves-effect waves-light" href="#!/course/((course.id))/">Assignments</a></span>
                    <span class="col s1 right"><a class="btn btn-sm waves-effect waves-light" href="#!/course/((course.id))/settings/"><i class="material-icons dp48">settings</i></a></span>
                </div>
       </li>

     </ul>
   </div>



   <div class="container center" ng-show="no_courses">
      <h3 class="lead">Add some courses</h3>
      <h5 class="flow-text">Click red button</h5>
   </div>

   <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
             <button class="btn-floating btn-large red" ng-click="openCreateCourseModal()">
               <i class="material-icons">add</i>
             </button>
   </div>



<ng-include src="'/partials/create_course_modal.html'">
