<div class="container center">
    <h2 class="lead">Profile</h2>
    <h3 class="lead">(( student.first_name )) (( student.last_name ))</h3>
</div>


<!-- <div class="container center"><h1>(( course.title ))</h1></div> -->
<div class="container center-align" ng-show="is_loading">
    <div class="preloader-wrapper big active " >
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

<button ng-click="getUser()">Get Courses</button>

<div ng-show="!is_loading">




   <div class="container center" ng-show="no_courses">
      <h3 class="lead">Add some courses</h3>
      <h5 class="flow-text">Click red button</h5>
   </div>


   <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
             <a class="btn-floating btn-large red" ng-href="#!/course/create">
               <i class="material-icons">add</i>
             </a>
   </div>

</div>